<!DOCTYPE html>
<html>

<head>
    <title>YouTube Downloader</title>
</head>

<body>
    <h1>YouTube Downloader</h1>
    <form method="POST" action="/download">
        <label for="url">YouTube Video URL:</label>
        <input type="text" name="url" id="url" required>
        <label for="resolution">Resolution (e.g., 720p):</label>
        <input type="text" name="resolution" id="resolution" required>
        <input type="number" name="upscaling" id="upscaling">
        <select name="model" id="model">
            <option value="RealESRGAN_x2plus">RealESRGAN_x2plus</option>
            <option value="RealESRGAN_x4plus">RealESRGAN_x4plus</option>
            <option value="RealESRGAN_x4plus_anime_6B">RealESRGAN_x4plus_anime_6B</option>
            <option value="realesr-general-x4v3">realesr-general-x4v3</option>
            <option value="realesr-animevideov3">realesr-animevideov3</option>
        </select>
        <select name="face" id="face">
            <option value="False">False</option>
            <option value="True">True</option>
            <button type="submit">Download</button>
    </form>
</body>

</html>