<!DOCTYPE html>
<html>

<head>
    <title>Watch Videos</title>
    <style>
        body {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        div {
            flex: 1;
            margin: 10px;
        }

        video {
            width: 100%;
            height: auto;
        }
    </style>
</head>

<body>
    <h1>Watch Videos</h1>
    <div>
        <h2>Original</h2>
        <video width="640" height="360" controls>
            <source src="{{ url_for('static', filename='video-inputs/' + original) }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <div>
        <h2>Super Resolution</h2>
        <video width="640" height="360" controls>
            <source src="{{ url_for('static', filename='video-outputs/' + super_res) }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

    <script>
        // Get video elements
        var originalVideo = document.getElementById('originalVideo');
        var superResVideo = document.getElementById('superResVideo');

        // Add event listener to synchronize play/pause
        originalVideo.addEventListener('play', function () {
            superResVideo.play();
        });

        originalVideo.addEventListener('pause', function () {
            superResVideo.pause();
        });

        superResVideo.addEventListener('play', function () {
            originalVideo.play();
        });

        superResVideo.addEventListener('pause', function () {
            originalVideo.pause();
        });
    </script>

</body>

</html>